body {
  margin: 0 5rem;
}
h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
}
.personal-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.show-infos {
  margin-top: 7rem;
  width: 30%;
}

div > .form-group.header-container {
  margin-top: 7rem;
  width: 30%;
}
div > .form-control.firstName,
.form-control.lastName,
.form-control.date {
  margin-top: 0.2rem;
}

.btn {
  margin-top: 0.2rem;
}
.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 2rem;
  margin-top: 0.5rem;
  cursor: pointer;
}
.btn,
.card-title,
h4 {
  margin-left: 1rem;
}
.container {
  margin: 2rem 0 0 11rem;
}
